.right .sales-analytics {
    margin-top: 2rem;
}

.right .sales-analytics h2 {
    margin-bottom: .8rem;
}

.right .sales-analytics .item {
    background: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: .7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all .3s ease;
}

.right .sales-analytics .item:hover {
    box-shadow: none;
}

.right .sales-analytics .item .right {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin: 0;
    width: 100%;
}

.right .sales-analytics .item .icon {
    padding: .6rem;
    color: var(--color-white);
    border-radius: 50%;
    background: var(--color-primary);
    display: flex;
}

.right .sales-analytics .item-offline .icon {
    background: var(--color-danger);
}

.right .sales-analytics .item-customers .icon {
    background: var(--color-success);
}

.right .sales-analytics .add-product {
    background-color: transparent;
    border: 2px dashed var(--color-primary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.right .sales-analytics .add-product div {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.right .sales-analytics .add-product span {
    font-weight: 600;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: .7rem;
}