main .recent-orders {
    margin-top: 2rem;
}

main .recent-orders h2 {
    margin-bottom: 2rem;
}

main .recent-orders table {
    width: 100%;
    background-color: var(--color-white);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    text-align: center;
    padding: var(--card-padding);
    transition: all 300ms ease;
}

main .recent-orders table:hover {
    box-shadow: none;
}

main table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--color-info-light);
    color: var(--color-dark-vaiant);
}

main .recent-orders a {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}